.login-page {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 100;
  display: flex;
  align-items: center;
  font-size: small;
  color: var(--color-textGray600);
  background-color: rgba(var(--color-dark-rgb), 0.5);
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  align-items: flex-start;
  padding: 3rem 2rem;
  width: 20rem; /* 80 */
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid var(--color-textGray200);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

.form-title .highlight {
  color: var(--color-primary);
}

.input-group {
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  outline-color: var(--color-primary);
}

.switch-link {
  color: var(--color-primary);
  cursor: pointer;
}

.submit-btn {
  background-color: var(--color-primary);
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border: none;
}
.submit-btn:hover {
  background-color: var(--color-primary-dull);
}

/* MEDIA QUERIES */

@media (min-width: 640px) {
  .form-container {
    width: 22rem;
  }
}
