.owner-dashboard {
  padding: 2.5rem 1rem 0 3rem;
  flex: 1 1 0%;
}

.owner-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  max-width: 50rem;
}

.owner-dashboard-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.owner-dashboard-card-title h1 {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 400;
}

.owner-dashboard-card-title p {
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.owner-dashboard-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-roundedFull);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.owner-dashboard-card-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.owner-dashboard-recent-activities {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.owner-dashboard-recent-bookings {
  max-width: 32rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: 0.375rem;
  width: 100%;
  border: 1px solid var(--color-border);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.owner-dashboard-recent-bookings h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.owner-dashboard-recent-bookings p {
  color: var(--color-textGray500);
}

.owner-dashboard-recent-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.owner-dashboard-recent-booking-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.owner-dashboard-recent-booking-icon {
  display: hidden;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-roundedFull);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.owner-dashboard-recent-booking-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.owner-dashboard-recent-booking-date p:last-child {
  color: var(--color-textGray400);
  font-size: small;
}

.owner-dashboard-recent-booking-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: medium;
}

.owner-dashboard-recent-booking-status p:first-child {
  color: var(--color-textGray500);
  font-size: 0.875rem;
}

.owner-dashboard-recent-booking-status p:last-child {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-roundedFull);
}

.owner-dashboard-monthly-revenue {
  padding: 1.5rem 2rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-border);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.owner-dashboard-monthly-revenue h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.owner-dashboard-monthly-revenue p:nth-of-type(1) {
  color: var(--color-textGray500);
}

.owner-dashboard-monthly-revenue p:last-child {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.675rem;
  color: var(--color-primary);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .owner-dashboard-recent-booking-icon {
    display: flex;
  }
}

@media (max-width: 768px) {
  .owner-dashboard {
    padding: 2rem 2.5rem 0 2.5rem;
  }

  .owner-dashboard-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .owner-dashboard-recent-bookings {
    padding: 1.5rem;
  }

  .owner-dashboard-monthly-revenue {
    padding: 1.5rem;
    max-width: 20rem;
  }
}

@media (max-width: 640px) {
  .owner-dashboard-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
