.manage-bookings {
  width: 100%;
  padding: 2.5rem 1.5rem 0 1.5rem;
}

.manage-bookings-table-container {
  width: 100%;
  max-width: 48rem;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: 0.765rem;
  margin-top: 3rem;
}

.manage-bookings-table {
  width: 100%;
  text-align: left;
  font-size: small;
  color: var(--color-textGray600);
  border-collapse: collapse;
}

.manage-bookings-table thead {
  color: var(--color-textGray500);
}

.manage-bookings-table-header th {
  padding: 0.75rem;
  font-size: medium;
  font-weight: normal;
}

.manage-bookings-table-row {
  border: 1px solid var(--color-border);
  color: var(--color-textGray500);
}

.manage-bookings-table-row-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
}

.manage-bookings-table-row td img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.75rem;
}

.manage-bookings-table-row-info p {
  font-size: medium;
}

.manage-bookings-table-row-dateRange,
.manage-bookings-table-row-total,
.manage-bookings-table-row-payment,
.manage-bookings-table-row-actions {
  padding: 0.75rem;
}

.manage-bookings-table-row-payment span {
  background-color: var(--color-gray100);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: small;
}

.manage-bookings-table-row-actions select {
  border: 1px solid var(--color-border);
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.manage-bookings-table-row-actions span {
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-roundedFull);
  font-size: small;
  font-weight: 500;
}

.manage-bookings-confirmed {
  background-color: var(--color-green100);
  color: var(--color-green500);
}

.manage-bookings-cancelled {
  background-color: var(--color-red100);
  color: var(--color-red500);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .manage-bookings {
    padding: 2.5rem 2.5rem;
  }

  .manage-bookings-table-row-info p,
  .manage-bookings-table-row-dateRange,
  .manage-bookings-table-row-payment {
    display: none;
  }
}
