/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 8vh;
  color: var(--color-textGray600);
  border-bottom: 1px solid var(--color-border);
  transition: all 0.2s ease;
}

/* NAV LINKS */

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  right: 0;
  border-color: var(--color-border);
  transition: all 300ms ease;
  z-index: 50;
}

.active {
  background-color: var(--color-light);
}

.non-active {
  background-color: #fff;
}

.close {
  transform: translateX(0);
}

/* SEARCH BAR */

.search-bar {
  display: none;
  align-items: center;
  font-size: 0.875rem;
  gap: 0.5rem;
  border: 1px solid var(--color-border);
  border-color: var(--color-border);
  border-radius: var(--border-roundedFull);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  max-width: 14rem;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

/* BUTTONS */

.nav-btns {
  display: flex;
  align-items: start;
  gap: 1.5rem;
}

.dashboardBtn {
  font-size: 16px;
}

.loginBtn {
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.loginBtn:hover {
  background-color: var(--color-primary-dull);
}

/* MEDIA QUERIES */

@media (min-width: 1280px) {
  .navbar {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .search-bar {
    display: flex;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 640px) {
  .navlinks {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .nav-btns {
    align-items: center;
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 639px) {
  .navlinks {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 4rem;
    border-top: 1px solid var(--color-border);
    padding: 1rem;
  }

  .open {
    transform: translateX(100%);
  }

  .nav-btns {
    flex-direction: column;
  }
}
