.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2.5rem 2rem 0 2rem;
  margin: 0 auto;
  transform: translateY(3rem);
  background-image: linear-gradient(to right, #0558fe, #a9cfff);
  max-width: 72rem;
  border-radius: 1rem;
  overflow: hidden;
}

.banner-text {
  color: #fff;
}

.banner-text h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.banner-text p:nth-of-type(1) {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.banner-text p:nth-of-type(2) {
  max-width: 32.5rem;
}

.banner-text button {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid #fff;
  background-color: #fff;
  color: var(--color-primary);
  font-weight: 600;
}
.banner-text button:hover {
  scale: 1.05;
}

.banner-image {
  max-height: 11.25rem;
  margin-top: 2.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .banner {
    max-width: 60rem;
  }
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    max-width: 36rem;
    transform: translateY(-1rem);
  }
}
