.car-card {
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  transition: all 500ms ease;
}
.car-card:hover {
  transform: translateY(-0.25rem);
}

.car-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms ease;
}
.group:hover .car-card-image {
  transform: scale(1.05);
}

.car-card-image-container {
  position: relative;
  overflow: hidden;
  height: 12rem;
}

.car-available {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  letter-spacing: 1px;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-roundedFull);
  font-size: 0.875rem;
  font-weight: 450;
}

.car-card-info {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: var((--color-dark), 0.8);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.car-card-info span:first-of-type {
  font-weight: 600;
}
.car-card-info span:last-of-type {
  font-size: 0.875rem;
  color: #fff;
  opacity: 0.8;
}

/* CAR SPECS */

.car-card-specs {
  padding: 1rem;
}

.car-card-specs-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.car-card-specs-item h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.car-card-specs-item p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-mutedforeground);
}

.car-card-specs-specific {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  color: var(--color-textGray600);
}

.car-card-specs-item-2 {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: var(--color-mutedforeground);
}

.car-card-specs-item-2 img {
  margin-right: 0.5rem;
}
/* MEDIA QUERIES */

@media (min-width: 640px) {
  .car-card-specs {
    padding: 1.25rem;
  }
}
