.footer-container {
  color: rgba(107, 114, 128, 0.8);
  padding: 0 1.5rem;
  margin-top: 6.6rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.footer-brand,
.footer-subscribe {
  max-width: 20rem;
}

.footer-logo {
  height: 2rem;
  margin-bottom: 1rem;
}

.footer-description {
  font-size: 0.875rem;
  max-width: 18rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 500ms ease;
}
.social-icon:hover {
  transform: translateY(-0.25rem);
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1rem;
  font-weight: 550;
  color: var(--color-textGray800);
  text-transform: uppercase;
}

.footer-links {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.footer-divider {
  border-color: #d1d5db;
  margin-top: 2rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  gap: 0.5rem;
}

.footer-policy-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* MEDIA QUERIES */

@media (min-width: 1280px) {
  .footer-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 768px) {
  .footer-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .footer-content {
    gap: 1.5rem;
  }

  .footer-logo {
    height: 2.25rem;
  }

  .footer-bottom {
    flex-direction: row;
  }
}
