.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: var(--color-light);
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 3.3rem;
}

.hero-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hero-form-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
}

/* SELECT BOX */

.select-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.select-box p {
  font-size: 0.8rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: var(--color-textGray500);
}

/* DATE */

.date {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.date-input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-textGray500);
}

/* SEARCH BUTTON */

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-roundedFull);
  background-color: var(--color-primary);
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.searchBtn:hover {
  background-color: var(--color-primary-dull);
}

.searchBtn img {
  filter: brightness(4);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .hero-form {
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-roundedFull);
    max-width: 45rem;
  }

  .hero-form-input {
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
  }

  .hero-title {
    font-size: 3rem;
  }
}

@media (max-width: 639px) {
  .searchBtn {
    margin-top: 1rem;
  }
}
