.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 1.5rem;
  margin-top: 5rem;
}

.featured-section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4.5rem;
}

.featured-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  margin-top: 4.5rem;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-light);
  color: var(--color-textGray600);
}
.featured-section-button:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.featured-section-button img {
  transition: all 300ms ease;
}
.featured-section-button:hover img {
  filter: brightness(9);
  transform: translateX(8px);
}

/* MEDIA QUERIES */

@media (min-width: 1280px) {
  .featured-section {
    padding: 0 8rem;
  }
}

@media (min-width: 1024px) {
  .featured-section {
    padding: 0 6rem;
  }
}

@media (min-width: 768px) {
  .featured-section {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .featured-section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .featured-section-cards {
    grid-template-columns: 1fr;
  }
}
