@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-primary: #2563eb;
  --color-primary-rgb: 37, 99, 235;
  --color-primary-dull: #1f58d8;
  --color-light: #f1f5f9;
  --color-dark: #0c0c1b;
  --color-dark-rgb: 12, 12, 27;
  --color-border: #c4c7d2;
  --color-textGray400: #6b7280;
  --color-textGray500: #374151;
  --color-textGray600: #4b5563;
  --color-textGray700: #1f2937;
  --color-textGray800: #111827;
  --color-mutedforeground: #9ca3af;
  --color-gray100: #f3f4f6;
  --color-green100: #dcfce7;
  --color-green400: #22c55e;
  --color-green500: #10b981;
  --color-green600: #16a34a;
  --color-red100: #fee2e2;
  --color-red400: #ef4444;
  --color-red500: #f87171;
  --color-red600: #dc2626;
  --border-roundedFull: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

select {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

ul {
  list-style: none;
}
