@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-primary: #2563eb;
  --color-primary-dull: #1f58d8;
  --color-light: #f1f5f9;
  --color-dark: #0c0c1b;
  --color-border: #c4c7d2;
  --color-textGray400: #6b7280;
  --color-textGray500: #374151;
  --color-textGray600: #4b5563;
  --color-textGray700: #1f2937;
  --color-textGray800: #111827;
  --color-mutedforeground: #9ca3af;
  --border-roundedFull: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

select {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

ul {
  list-style: none;
}
