.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.newsletter-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.newsletter-description {
  font-size: 1rem;
  color: rgba(107, 114, 128, 0.7);
  padding-bottom: 2rem;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 42rem;
  height: 3rem;
}

.newsletter-input {
  width: 100%;
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid #d1d5db;
  color: #6b7280;
  border-right: none;
  border-radius: 0.375rem 0 0 0.375rem;
  outline: none;
}

.newsletter-button {
  height: 100%;
  color: white;
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0 0.375rem 0.375rem 0;
}

.newsletter-button:hover {
  background-color: var(--color-primary-dull);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .newsletter-button {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .newsletter-form {
    width: 90%;
  }

  .newsletter-title {
    font-size: 2.2rem;
  }

  .newsletter-form {
    height: 3.25rem;
  }

  .newsletter-description {
    font-size: 1.125rem;
    width: 90%;
  }
}
