.owner-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-textGray500);
  border-bottom: 1px solid var(--color-border);
  position: relative;
  padding: 1rem 1.5rem;
  transition: all 0.5s ease;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .owner-navbar {
    padding: 0.75rem 2.5rem;
  }
}
