.add-car-container {
  flex: 1 1 0%;
  padding: 2.5rem 2rem;
}

.add-car-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-textGray500);
  font-size: small;
  margin-top: 1rem;
  max-width: 36rem;
}

/* USER IMAGE */

.add-car-user-image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.add-car-user-image {
  cursor: pointer;
  border: 1px solid var(--color-border);
  border-radius: var(--border-roundedFull);
  height: 3.5rem;
}

.add-car-user-image-text {
  color: var(--color-textGray500);
  font-size: small;
  margin-top: 0.5rem;
}

/* CAR DETAILS -> LEVEL 1 */

.add-car-form-level-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.add-car-form-brand,
.add-car-form-model,
.add-car-form-year,
.add-car-form-price,
.add-car-form-category,
.add-car-form-transmission,
.add-car-form-fuel-type,
.add-car-form-seating-capacity,
.add-car-form-location,
.add-car-form-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-car-form-brand input,
.add-car-form-model input,
.add-car-form-year input,
.add-car-form-price input,
.add-car-form-seating-capacity input,
.add-car-form-description textarea {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--color-border);
  color: var(--color-textGray500);
  border-radius: 0.76rem;
  font-weight: 500;
}

/* CAR DETAILS -> LEVEL 2 & LEVEL 3 */

.add-car-form-level-2,
.add-car-form-level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.add-car-form-category select,
.add-car-form-transmission select,
.add-car-form-fuel-type select,
.add-car-form-location select {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--color-border);
  color: var(--color-textGray500);
  border-radius: 0.76rem;
  font-weight: 500;
}

/* CAR DETAILS -> LEVEL 4 */

.add-car-form-level-4 {
  display: grid;
  grid-template-columns: 1fr;
}

.add-car-form-description {
  margin-top: 1rem;
}

/* FORM BUTTON */

.add-car-form-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-primary);
  color: var(--color-light);
  max-width: 10rem;
  transition: all 0.2s ease;
}
.add-car-form-button:hover {
  background-color: var(--color-primary-dull);
}
.add-car-form-button:hover img {
  scale: 1.3;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .add-car-container {
    padding: 0 2.5rem;
    margin-top: 2rem;
  }

  .add-car-form-level-1 {
    grid-template-columns: 1fr;
  }

  .add-car-form-level-2,
  .add-car-form-level-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .add-car-form-level-2,
  .add-car-form-level-3 {
    grid-template-columns: 1fr;
  }
}
