.owner-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--color-border);
  width: 100%;
  max-width: 20rem;
  min-height: 100vh;
  font-size: 0.875rem;
}

.owner-sidebar .merge {
  position: relative;
  margin-top: 2.5rem;
}

.owner-user-image {
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: var(--border-roundedFull);
  margin-left: auto;
  margin-right: auto;
}

.owner-user-image-edit-icon {
  position: absolute;
  inset: 0 0 0 0;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(var(--color-dark-rgb), 0.1);
  border-radius: var(--border-roundedFull);
  cursor: pointer;
}
.merge:hover .owner-user-image-edit-icon {
  display: flex;
}

.owner-user-check-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-color: rgba(var(--color-primary-rgb), 0.1);
  padding: 0.5rem;
  gap: 0.25rem;
  color: var(--color-primary);
  cursor: pointer;
}

.owner-user-name {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* MENU LINKS */

.owner-menu-navlinks {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
}
.owner-menu-navlinks:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}
.owner-menu-navlinks:first-child {
  margin-top: 1.5rem;
}

.owner-menu-navlink-active {
  background-color: rgba(var(--color-primary-rgb), 0.1);
  color: var(--color-primary);
}

.owner-menu-navlink-inactive {
  color: var(--color-textGray600);
}

.owner-menu-links-side-active {
  background-color: var(--color-primary);
  position: absolute;
  right: 0;
  width: 0.375rem;
  height: 2rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .owner-sidebar {
    max-width: 10rem;
  }

  .owner-user-image {
    height: 4.5rem;
    width: 4.5rem;
  }

  .owner-user-name {
    display: none;
  }

  .owner-menu-links-name {
    display: none;
  }
}
